/* Base styles */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  display: flex;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background-color: hsl(38, 23%, 80%);
    color: hsl(0, 0%, 20%);
    
   
  
    
    
    /* flex-direction: row-reverse; */
    align-items: center;
    min-height: 200vh;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Flexbox container */
   .container  {
    display: flex;

    
  
    flex-grow: 1;
    text-align: center;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 30%;
    

}
  .SUVs {
    background-color:hsl(184, 100%, 22%) ;
  }
  .Sedans {
    background-color:hsl(31, 77%, 52%) ;
    .button-center {
      align-items: center;
    }
  }
  .Luxury {
    background-color:hsl(179, 100%, 13%); 
  }
.orange {
  color: hsl(31, 77%, 52%) ;
}
.cyan {
  color:hsl(184, 100%, 22%);

}
.darkcyan {
  color: hsl(179, 100%, 13%);

}

button {
  border-radius: 30%;
  height: 30px;
  

}
div {
  min-height: 50;
}
.car-container {
  display: flex;
  flex-direction: column;
justify-content: space-around ;
align-items: flex-start;






}
img {
  height: 45px;
  width: 60px;
}
button {
  display: flex;
  height: 40px;
  width: 100px;
  display: flex;
border-radius: 250px;
justify-content: center;
align-items: center;
}

.content  {
  display: flex;
    justify-content:center;
    align-items: start;
    
    }

    .car-container > * {
      margin-left: 40px;
    }

    p {
  width: 25ch;
    }